@tailwind base;
@tailwind components;
@tailwind utilities;

.current-pathname {
  @apply text-emerald-600 border-solid border-b-4  border-b-emerald-500 rounded-tl-none rounded-tr-none;
}

.custom-border {
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
}
